<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Носитель</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Информация о носителе</h2>
  <a href="/mvc/carriers" class="btn btn-primary mb-3">Назад</a>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <td th:text="${carrier.id}"></td>
    </tr>
    <tr>
      <th>Тип</th>
      <td th:text="${carrier.type}"></td>
    </tr>
    <tr>
      <th>Серийный номер</th>
      <td th:text="${carrier.serialNumber}"></td>
    </tr>
    <tr>
      <th>Маркировка</th>
      <td th:text="${carrier.markirovka}"></td>
    </tr>
  </table>

  <h2>Сотрудники</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${carrier.employees}">
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.name}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
