<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View computer</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Computer details</h2>
    <a href="/mvc/computers" class="btn btn-primary mb-3">Back to Computers</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <td th:text="${computer.id}"></td>
        </tr>
        <tr>
            <th>Cabinet</th>
            <td th:text="${computer.cabinet}"></td>
        </tr>
        <tr>
            <th>Learning Campus</th>
            <td th:text="${computer.learningCampus}"></td>
        </tr>
        <tr>
            <th>Department</th>
            <td th:text="${computer.department}"></td>
        </tr>
    </table>
</div>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
