<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробно</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Подробно</h2>
    <a href="/mvc/employees" class="btn btn-primary">Назад</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <td th:text="${employee.id}"></td>
        </tr>
        <tr>
            <th>Имя</th>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <th>Кабинет</th>
            <td th:text="${employee.cabinet}"></td>
        </tr>
        <tr>
            <th>Отдел</th>
            <td th:text="${employee.department}"></td>
        </tr>
        <tr>
            <th>Учебный корпус</th>
            <td th:text="${employee.learningCampus}"></td>
        </tr>
        <tr>
            <th>Должность</th>
            <td th:text="${employee.post}"></td>
        </tr>
    </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
