<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробно</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table-container {
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Подробно</h2>
    <a href="/mvc/entryeps" class="btn btn-primary">Назад</a>
    <table class="table mt-3">
        <tr>
            <th>ID</th>
            <td th:text="${entryep.id}"></td>
        </tr>
        <tr>
            <th>Тип</th>
            <td th:text="${entryep.type}"></td>
        </tr>
        <tr>
            <th>Дата выдачи ЭП в УЦ</th>
            <td th:text="${entryep.dateOfIssueEp}"></td>
        </tr>
        <tr>
            <th>Дата получения ЭП сотрудником</th>
            <td th:text="${entryep.dateOfReceiving}"></td>
        </tr>
        <tr>
            <th>Дата установки ЭЦП</th>
            <td th:text="${entryep.dateOfInstallationEcp}"></td>
        </tr>
        <tr>
            <th>Имя сотрудника ИБ</th>
            <td th:text="${entryep.nameOfEmployeeIb}"></td>
        </tr>
        <tr>
            <th>Учебный корпус</th>
            <td th:text="${entryep.learningCampus}"></td>
        </tr>
        <tr>
            <th>Кабинет</th>
            <td th:text="${entryep.cabinet}"></td>
        </tr>
    </table>

    <div class="table-container">
        <h2>Сотрудники</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${entryep.employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h2>Сертификаты</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Серийный номер</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="certificate : ${entryep.sertificates}">
                <td th:text="${certificate.id}"></td>
                <td th:text="${certificate.name}"></td>
                <td th:text="${certificate.serialNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h2>Компьютеры</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Маркировка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="computer : ${entryep.computers}">
                <td th:text="${computer.id}"></td>
                <td th:text="${computer.marking}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h2>Носители</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Серийный номер</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carrier : ${entryep.carriers}">
                <td th:text="${carrier.id}"></td>
                <td th:text="${carrier.serialNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
