<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Подробно</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .expiring-soon-text {
      color: red;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="mt-4">Подробно</h2>

  <div th:if="${sertificate.isExpiringSoon()}" class="alert alert-warning" role="alert">
    <p class="expiring-soon-text">Срок действия сертификата скоро закончится!</p>
  </div>

  <a href="/mvc/sertificates" class="btn btn-primary mb-3">Назад</a>
  <table class="table">
    <tr>
      <th>ID</th>
      <td th:text="${sertificate.id}"></td>
    </tr>
    <tr>
      <th>Дата истечения срока</th>
      <td th:text="${sertificate.dateOfExpiry}"></td>
    </tr>
    <tr>
      <th>Дата выдачи</th>
      <td th:text="${sertificate.dateOfIssue}"></td>
    </tr>
    <tr>
      <th>Имя</th>
      <td th:text="${sertificate.name}"></td>
    </tr>
    <tr>
      <th>Серийный номер</th>
      <td th:text="${sertificate.serialNumber}"></td>
    </tr>
    <tr>
      <th>Центр верификации</th>
      <td th:text="${sertificate.verificationCenter}"></td>
    </tr>
  </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
