<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить сертификат</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h2>Добавить сертификат</h2>
  <form action="/mvc/sertificate/add" method="post">
    <div class="form-group">
      <label for="dateOfExpiry">Дата истечения срока:</label>
      <input type="datetime-local" class="form-control" id="dateOfExpiry" name="dateOfExpiry"/>
    </div>
    <div class="form-group">
      <label for="dateOfIssue">Дата выдачи:</label>
      <input type="datetime-local" class="form-control" id="dateOfIssue" name="dateOfIssue"/>
    </div>
    <div class="form-group">
      <label for="name">Имя:</label>
      <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="form-group">
      <label for="serialNumber">Серийный номер:</label>
      <input type="text" class="form-control" id="serialNumber" name="serialNumber"/>
    </div>
    <div class="form-group">
      <label for="verificationCenter">Центр верификации:</label>
      <input type="text" class="form-control" id="verificationCenter" name="verificationCenter"/>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
